node_modules

# Node
backend/node_modules/
backend/.env
backend/*.env

# Prisma
backend/generated/prisma/

# Frontend gitignore
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Blockchain (Hardhat)
blockchain/node_modules/
blockchain/cache/
blockchain/artifacts/
blockchain/typechain/
blockchain/typechain-types/
blockchain/coverage/
blockchain/coverage.json
blockchain/ignition/deployments/chain-31337

# MacOS, debug logs, and misc
.DS_Store
*.log
*.pem
